<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!--адаптация к ширине экран. изменяемая пользователем-->
    <!--<meta name="viewport" content="width=device-width,initial-scale=1.0">-->

    <!--как приложение. пользвателю запрещенно менять масштаб-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

    <link href='https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900|Material+Icons' rel="stylesheet">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>Title</title>
    <script th:inline="javascript">
        var frontendData = [[${frontendData}]];
    </script>

</head>
<body>
<!--<h3>привет index</h3>-->
    <!--<script type="text/javascript">-->
        <!--console.log(frontendData.profile.name)-->
    <!--</script>-->
<div id="app"></div>
<script th:src="${isDevMode} ? 'http://10.10.12.232:8001/main.js' : '/js/main.js'"></script>
<!--<script src="/js/main.js"></script>-->
<!--<script src="http://medcarta.somee.com/main.js"></script>-->
</body>
</html>

